.singleservicepage-main{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 120px;
    padding-bottom: 0px;
    background-color: #FFFFF5;
    max-width: 1420px;
    overflow: hidden;
    justify-self: center  
}
.singleservice-content{
    padding-top: 80px;
}
.singleservice-title{
    color: #031B4E;
    font-family: "Syne", Sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: -0.7px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    padding-bottom: 20px;    
    width: 68%;

}
.singleservicep-1{
    text-align: left;    
    width: 68%;
    color: #0C0C0C;
    font-family: "Inter", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}
.singleservicep-2{
    text-align: left;
    color: #0C0C0C;
    width: 68%;
    font-family: "Inter", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}

.singleservice-grid{
    display: flex;
margin: 0px 0px 015px 0px;
;
}
.singleservice-g-title{
    color: #031B4E;
    font-family: "Syne", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
}
.singleservice-g-1, .singleservice-g-2{
    padding-top: 30px;
}
.ss-g-ul{
    padding-left: 10px;
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #0C0C0C;
}
.ss-g-ul li{
    padding-top: 10px;
    padding-bottom: 25px;
}
.singleservice-grid1{
    display: flex;
    width: 100%;
    padding-top: 80px;
    gap: 20px;
    padding-bottom: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);

}
.ssg1-1-title{
    color: #031B4E;
    font-family: "Syne", Sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: -0.7px;
}
.ssg1-1{
    width: 52%;
}
.ssg1-1offset{
    width: 3%;
}
.ssg1-1icon-img{
    width: 58px;
    height: 50px;
}
.ssg1-2{
    width: 45%;
}

.ssg1-1-content{
    margin: 024px 0px 050px 0px;
    text-align: left;
    color: #0C0C0C;
    font-family: "Inter", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}
.ssg1-1-ul{
    display: flex;
    gap: 20px;
}
.ssg-1-1-txt-h{
    margin-bottom: 0px;
    color: #031B4E;
    font-family: "Syne", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.ssg1-1-txt ul li{
    padding-top: 20px;
    padding-left: 10px;
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #0C0C0C;
}

@media screen and (max-width: 1270px) {
    .singleservicepage-main{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 120px;
        padding-bottom: 0px;
        background-color: #FFFFF5;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center  
    }
    .singleservice-content{
        padding-top: 60px;
    }
    .singleservice-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
        -webkit-text-stroke-color: #000;
        stroke: #000;
        padding-bottom: 20px;    
        width: 68%;
    
    }
    .singleservicep-1{
        text-align: left;    
        width: 68%;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
    }
    .singleservicep-2{
        text-align: left;
        color: #0C0C0C;
        width: 68%;
        font-family: "Inter", Sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
    }
    
    .singleservice-grid{
        display: flex;
    margin: 0px 0px 015px 0px;
    ;
    }
    .singleservice-g-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 42px;
    }
    .singleservice-g-1, .singleservice-g-2{
        padding-top: 30px;
    }
    .ssg1-2-img{
        width: 100%;
        height: 100%;
    }
    .ss-g-ul{
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
    .ss-g-ul li{
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .singleservice-grid1{
        display: flex;
        width: 100%;
        padding-top: 80px;
        gap: 20px;
        padding-bottom: 120px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    
    }
    .ssg1-1-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
    }
    .ssg1-1{
        width: 52%;
    }
    .ssg1-1offset{
        width: 3%;
    }
    .ssg1-1icon-img{
        width: 58px;
        height: 50px;
    }
    .ssg1-2{
        width: 45%;
    }
    
    .ssg1-1-content{
        margin: 024px 0px 050px 0px;
        text-align: left;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
    }
    .ssg1-1-ul{
        display: flex;
        gap: 20px;
    }
    .ssg-1-1-txt-h{
        margin-bottom: 0px;
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 42px;
        border-radius: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .ssg1-1-txt ul li{
        padding-top: 20px;
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
    
}
@media screen and (min-width: 800px) and (max-width: 1000px){
    .singleservicepage-main{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
        padding-bottom: 0px;
        background-color: #FFFFF5;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center  
    }
    .singleservice-content{
        padding-top: 40px;
    }
    .singleservice-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
        -webkit-text-stroke-color: #000;
        stroke: #000;
        padding-bottom: 20px;    
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        text-align: center;    
        width: 100%;
    }
    .singleservicep-1{
        text-align: center;    
        width: 100%;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
        padding-inline-start: 0%;
        padding-inline-end: 0%;

    }
    .singleservicep-2{
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        text-align: center;
        color: #0C0C0C;
        width: 100%;
        font-family: "Inter", Sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
    }
    
    .singleservice-grid{
        display: block;
    margin: 0px 0px 015px 0px;
    ;
    }
    .singleservice-g-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 42px;
    }
    .singleservice-g-1, .singleservice-g-2{
        padding-top: 30px;
    }
    .ssg1-2-img{
        width: 100%;
        height: 100%;
    }
    .ss-g-ul{
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
    .ss-g-ul li{
        padding-top: 10px;
        padding-bottom: 25px;
        
    }
    .singleservice-grid1{
        display: block;
        width: 100%;
        padding-top: 40px;
        gap: 20px;
        padding-bottom: 80px;
        
        border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    
    }
    .ssg1-1-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
    }
    .ssg1-1{
        width: 100%;
}
    .ssg1-1offset{
        display: none;
    }
    .ssg1-1icon-img{
        width: 58px;
        height: 50px;
    }
    .ssg1-2{
        padding-top: 40px;
        width: 100%;
    }
    
    .ssg1-1-content{
        margin: 024px 0px 050px 0px;
        text-align: left;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
    }
    .ssg1-1-ul{
        display: flex;
        gap: 20px;
    }
    .ssg-1-1-txt-h{
        margin-bottom: 0px;
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        border-radius: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .ssg1-1-txt ul li{
        padding-top: 20px;
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
    
}
@media screen  and (min-width: 500px) and (max-width: 800px){
    .singleservicepage-main{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
        padding-bottom: 0px;
        background-color: #FFFFF5;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center  
    }
    .singleservice-content{
        padding-top: 40px;
    }
    .singleservice-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
        -webkit-text-stroke-color: #000;
        stroke: #000;
        padding-bottom: 20px;    
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        text-align: center;    
        width: 100%;
    }
    .singleservicep-1{
        text-align: center;    
        width: 100%;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        padding-inline-start: 0%;
        padding-inline-end: 0%;

    }
    .singleservicep-2{
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        text-align: center;
        color: #0C0C0C;
        width: 100%;
        font-family: "Inter", Sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
    
    .singleservice-grid{
        display: block;
    margin: 0px 0px 00px 0px;
    ;
    }
    .singleservice-g-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
    }
    .singleservice-g-1, .singleservice-g-2{
        padding-top: 30px;
    }
    .ssg1-2-img{
        width: 100%;
        height: 100%;
    }
    .ss-g-ul{
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
    .ss-g-ul li{
        padding-top: 10px;
        padding-bottom: 25px;
        
    }
    .singleservice-grid1{
        display: block;
        width: 100%;
        padding-top: 40px;
        gap: 20px;
        padding-bottom: 80px;
        
        border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    
    }
    .ssg1-1-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
    }
    .ssg1-1{
        width: 100%;
}
    .ssg1-1offset{
        display: none;
    }
    .ssg1-1icon-img{
        width: 48px;
        height: 40px;
    }
    .ssg1-2{
        padding-top: 40px;
        width: 100%;
    }
    
    .ssg1-1-content{
        margin: 024px 0px 050px 0px;
        text-align: left;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
    .ssg1-1-ul{
        display: flex;
        gap: 20px;
    }
    .ssg-1-1-txt-h{
        margin-bottom: 0px;
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 42px;
        border-radius: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .ssg1-1-txt ul li{
        padding-top: 20px;
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
}
@media screen and (max-width: 500px) {
    .singleservicepage-main{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 80px;
        padding-bottom: 0px;
        background-color: #FFFFF5;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center  
    }
    .singleservice-content{
        padding-top: 40px;
    }
    .singleservice-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
        -webkit-text-stroke-color: #000;
        stroke: #000;
        padding-bottom: 20px;    
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        text-align: center;    
        width: 100%;
    }
    .singleservicep-1{
        text-align: center;    
        width: 100%;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        padding-inline-start: 0%;
        padding-inline-end: 0%;

    }
    .singleservicep-2{
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        text-align: center;
        color: #0C0C0C;
        width: 100%;
        font-family: "Inter", Sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
    
    .singleservice-grid{
        display: block;
    margin: 0px 0px 00px 0px;
    ;
    }
    .singleservice-g-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
    }
    .singleservice-g-1, .singleservice-g-2{
        padding-top: 30px;
    }
    .ssg1-2-img{
        width: 100%;
        height: 100%;
    }
    .ss-g-ul{
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
    .ss-g-ul li{
        padding-top: 10px;
        padding-bottom: 25px;
        
    }
    .singleservice-grid1{
        display: block;
        width: 100%;
        padding-top: 40px;
        gap: 20px;
        padding-bottom: 80px;
        
        border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    
    }
    .ssg1-1-title{
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
    }
    .ssg1-1{
        width: 100%;
}
    .ssg1-1offset{
        display: none;
    }
    .ssg1-1icon-img{
        width: 48px;
        height: 40px;
    }
    .ssg1-2{
        padding-top: 40px;
        width: 100%;
    }
    
    .ssg1-1-content{
        margin: 024px 0px 050px 0px;
        text-align: left;
        color: #0C0C0C;
        font-family: "Inter", Sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
    .ssg1-1-ul{
        display: flex;
        gap:10px;
    }
    .ssg-1-1-txt-h{
        margin-bottom: 0px;
        color: #031B4E;
        font-family: "Syne", Sans-serif;
        font-size: 23px;
        font-weight: 700;
        line-height: 42px;
        border-radius: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .ssg1-1-txt ul li{
        padding-top: 20px;
        padding-left: 10px;
        font-family: "Inter", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #0C0C0C;
    }
}