.standoutsection-main{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 120px;
    max-width: 1420px;
    overflow: hidden;
    justify-self: center;
    padding-bottom: 120px;
}
.standoutsection-container{
    display: flex;
    width: 100%;
}
.sos-head{
width: 65%;

}
.sos-h{
    color: #031B4E;
    font-family: var(--heading-font);
    font-size: 70px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: -0.7px;
}
.sos-offset{
    width: 3%;
}
.sos-desc{
    width: 32%;
 
}
.sos-p{
    padding-top: 24px;
    text-align: left;
    color: #0C0C0C;
    font-family: var(--body-font);
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    justify-content: end;
    align-items: baseline;
    align-content: baseline;
}


/* second container */

.sos-container{
    display: flex;
    padding-top: 80px;
    width: 100%;
}
.sos-imagepart{
    width: 67%;
    border-radius: 20px;

}
.sos-img{
    width: 100%;
    height: 700px;
}
.sos--offset{
    width: 2%;
}
.sos-box{
    width: 31%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #031B4E;
    color: white;
}
.inner-sos-box{
    /* padding: 50px; */
    padding-top: 25px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-top: 20px; */
    margin-bottom: 0px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}


.inner-sos-box:not(:first-child){
    padding-top: none;
    /* padding-bottom: 20px; */


}
.inner-sos-box:not(:last-child){
    padding-bottom: none;
    padding-top: none;

    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}
.sos-counter{
    color: #F6871F;
    font-family: var(--heading-font);
    font-size: 70px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: -1px;
    padding-top: 0px;
    
}
.sos-counter-title{
    padding-top: 10px;
    padding-bottom: 20px;
    color: #FDFDE1;
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}


@media screen and (max-width: 1270px) {
    .standoutsection-main{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center
    }
    .sos-offset{
        width: 3%;
    }
    .sos-desc{
        width: 32%;
     
    }
    .sos-h{
        color: #031B4E;
        font-family: var(--heading-font);
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -0.7px;
    }
    .standoutsection-container{
        display: flex;
        width: 100%;
    }
    .sos--offset{
        width: 2%;
    }
    .sos-head{
    width: 65%;
    
    }
    .sos-imagepart{
        width: 67%;
        border-radius: 20px;
    
    }
    .sos-img{
        width: 701px;
        height: 486px !important;
    }
    .sos-box{
        width: 31%;
        border: 1px solid black;
        border-radius: 20px;
        background-color: #031B4E;
        color: white;
    }
}
@media screen and (min-width: 800px) and (max-width: 1000px){
    .standoutsection-main{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom:60px;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center
    }
    .sos-offset{
        display: none;
    }
    .sos-desc{
        width: 100%;
        align-items: center;
    }
    .sos-p{
        padding-top: 14px;
        text-align: center;
        padding-inline-start: 10%;
        padding-inline-end: 10%;
      
    }
    .sos-h{
        padding-inline-start: 10%;
        padding-inline-end: 10%;
        color: #031B4E;
        font-family: var(--heading-font);
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        text-align: center;
        letter-spacing: -0.7px;
    }
    .standoutsection-container{
        display: block;
        width: 100%;
    }
    .sos--offset{
        display: none;
    }
    .sos-head{
        align-items: center;

    width: 100%;
    
    }
    .sos-imagepart{
        width: 100%;
        border-radius: 20px;
    
    }
    .sos-img{
        width: 100%;
        height: 100% !important;
    }
    .sos-box{
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;
        background-color: #031B4E;
        color: white;
        display: flex;
        gap: 30px;
        justify-content: center;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    .sos-container{
        display: block;
        padding-top: 40px;
        width: 100%;
    }
    .inner-sos-box{
        /* padding: 50px; */
        padding-top: 25px;
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        /* margin-top: 20px; */
        margin-bottom: 0px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-bottom: none;
    }
    .sos-counter{
        color: #F6871F;
        font-family: var(--heading-font);
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -1px;
        padding-top: 0px;
        
    }
    .sos-counter-title{
        padding-top: 10px;
        padding-bottom: 20px;
        color: #FDFDE1;
        font-family: "Inter", Sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
    }
}
@media screen  and (min-width: 500px) and (max-width: 800px){
    .standoutsection-main{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom:60px;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center
    }
    .sos-offset{
        display: none;
    }
    .sos-desc{
        width: 100%;
        align-items: center;
    }
    .sos-p{
        padding-top: 10px;
        text-align: center;
        padding-inline-start: 0%;
        padding-inline-end: 0%;
      
    }
    .sos-h{
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        color: #031B4E;
        font-family: var(--heading-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        text-align: center;
        letter-spacing: -0.7px;
    }
    .standoutsection-container{
        display: block;
        width: 100%;
    }
    .sos--offset{
        display: none;
    }
    .sos-head{
        align-items: center;

    width: 100%;
    
    }
    .sos-imagepart{
        width: 100%;
        border-radius: 20px;
    
    }
    .sos-img{
        width: 100%;
        height: 100% !important;
    }
    .sos-box{
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;
        background-color: #031B4E;
        color: white;
        display: block;
        /* gap: 30px; */
        justify-content: center;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    .sos-container{
        display: block;
        padding-top: 20px;
        width: 100%;
    }
    .inner-sos-box{
        /* padding: 50px; */
        padding-top: 25px;
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        /* margin-top: 20px; */
        margin-bottom: 0px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-bottom: none;
    }
    .sos-counter{
        color: #F6871F;
        font-family: var(--heading-font);
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -1px;
        padding-top: 0px;
        
    }
    .sos-counter-title{
        padding-top: 10px;
        padding-bottom: 20px;
        color: #FDFDE1;
        font-family: "Inter", Sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .standoutsection-main{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom:60px;
        max-width: 1420px;
        overflow: hidden;
        justify-self: center
    }
    .sos-offset{
        display: none;
    }
    .sos-desc{
        width: 100%;
        align-items: center;
    }
    .sos-p{
        padding-top: 10px;
        text-align: center;
        padding-inline-start: 0%;
        padding-inline-end: 0%;
      
    }
    .sos-h{
        padding-inline-start:0%;
        padding-inline-end: 0%;
        color: #031B4E;
        font-family: var(--heading-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        text-align: center;
        letter-spacing: -0.7px;
    }
    .standoutsection-container{
        display: block;
        width: 100%;
    }
    .sos--offset{
        display: none;
    }
    .sos-head{
        align-items: center;

    width: 100%;
    
    }
    .sos-imagepart{
        width: 100%;
        border-radius: 20px;
    
    }
    .sos-img{
        width: 100%;
        height: 100% !important;
    }
    .sos-box{
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;
        background-color: #031B4E;
        color: white;
        display: block;
        /* gap: 30px; */
        justify-content: center;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    .sos-container{
        display: block;
        padding-top: 20px;
        width: 100%;
    }
    .inner-sos-box{
        /* padding: 50px; */
        padding-top: 25px;
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        /* margin-top: 20px; */
        margin-bottom: 0px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-bottom: none;
    }
    .sos-counter{
        color: #F6871F;
        font-family: var(--heading-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: -1px;
        padding-top: 0px;
        
    }
    .sos-counter-title{
        padding-top: 10px;
        padding-bottom: 20px;
        color: #FDFDE1;
        font-family: "Inter", Sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
    }
    
}
      