/* .homemarquee-main{
    background-color: var(--accent-color);
    padding-top: 10px;
    padding-bottom: 10px;
} */
.homemarquee{
    background-color: var(--black-bg);
    padding-top: 20px;
    box-shadow: 0px 4px 0px 0px var(--accent-color);
    padding-bottom: 10px;
    /* transform: skewY(-1deg); */
}
.marquee-text{
    font-family: "Syne";
    font-weight: 700;
    font-style: normal;
  
    font-size: 35px;
    white-space: nowrap;
    padding: 0 24px;
    text-transform: uppercase;
    color: var(--accent-color)
}
.marquee-text:hover{
    color: transparent;
    -webkit-text-stroke: 2px black;
    font-family: "Syne";
    font-weight: 700;
    font-style: normal;    /* font-size: 30px;font-family: var(--font-heading); */
    font-size: 35px;
  white-space: nowrap;
  padding: 0 24px;
  text-transform: uppercase;
  color: var(--accent-color);
}
.marquee-img{
    width: 40px;
    height: 40px;
    margin-top: -15px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}