
    /*.main-sidebar-div{ max-width: 1420px;
    overflow: hidden;
    justify-self: center
} */
.searchbar-box{
/* padding-bottom: 30px; */
    /* padding: 20px; */
    border-radius: 20px;
}
.searchbar-box input{
    width: 100%;
    padding: 20px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px;
}
.searchbar-box input:focus{
    border: none;
    border-radius: 30px;
}

/* // category // */
.categcard{
    background-color: #FFFDF8;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.categcard-main{

    padding: 10px;
}
.categcard-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--heading-color);
    display: inline-block;
    font-family: Syne;

}
.categcard-lists{
padding-top: 15px;

}

.categcard-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: none;
    padding-top: 12px;

}
.categcard-list:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);


}
.categcard-title-p, .categcard-count-p{
    color: var(--text-color);
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    font-family: var(--body-font);
}


.recentpost-main{
    background-color: #FFFDF8;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px !important;
}
.rp-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--heading-color);
    display: inline-block;
    margin-bottom: 30px;
}

.rp-g-date{
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: Inter;
}
.rp-g-heading{
    margin-top: -10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-family: Inter;

}
.recent-post-container{
    display: flex;
    padding-top: 10px;
    width: 100%;
    gap: 15px;
    /* margin-bottom: 20px; */
}
.recent-post-grid-content{
    width: 40%;
}
.recent-post-grid-img{

}
.rpg-img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}


.tags-main{
    background-color: #FFFDF8;
    border: 1px
     solid black;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tags-container{
    display: flex;
    gap: 20px;
    width: 100%;
    /* overflow: hidden; */
    flex-wrap: wrap;
}
/* .tag1{
    width: 25%;
} */
.tag-p{
    display: inline-flex
;
    justify-content: center;
    align-items: center;
    padding: 7px 29px;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 26px;
    color: var(--text-color);
    margin-bottom: 10px;
    margin-right: 6px;
    transition: all 0.4s;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1270px) {
    
.recentpost-main{
    background-color: #FFFDF8;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px !important;
}
.rp-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--heading-color);
    display: inline-block;
    margin-bottom: 30px;
}

.rp-g-date{
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: Inter;
}
.rp-g-heading{
    margin-top: -10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-family: Inter;

}
.recent-post-container{
    display: flex;
    padding-top: 10px;
    width: 100%;
    gap: 15px;
    /* margin-bottom: 20px; */
}
.recent-post-grid-content{
    width: 40%;
}
.recent-post-grid-img{

}
.rpg-img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}


}
@media screen and (min-width: 800px) and (max-width: 1000px){
    
.recentpost-main{
    background-color: #FFFDF8;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px !important;
}
.rp-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    padding-top: 20px;
    color: var(--heading-color);
    display: inline-block;
    margin-bottom: 30px;
    font-family: var(--heading-font);
}

.rp-g-date{
    font-style: normal;
    margin-top: 10px;
    font-size: 17px;
    line-height: 20px;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: Inter;
}
.rp-g-heading{
    margin-top: 0px;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #000;
    font-family: Inter;

}
.recent-post-container{
    display: flex;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    gap: 15px;
    /* margin-bottom: 20px; */
}
.recent-post-grid-content{
    
    width: 70%;
}
.recent-post-grid-img{
    width: 30%;
}
.rpg-img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}


}
@media screen  and (min-width: 500px) and (max-width: 800px){
    .recentpost-main{
        background-color: #FFFDF8;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 40px !important;
    }
    .rp-title{
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;
        padding-top: 20px;
        color: var(--heading-color);
        display: inline-block;
        margin-bottom: 30px;
        font-family: var(--heading-font);
    }
    
    .rp-g-date{
        font-style: normal;
        margin-top: 10px;
        font-size: 17px;
        line-height: 20px;
        color: #000;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-family: Inter;
    }
    .rp-g-heading{
        margin-top: 0px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-family: Inter;
    
    }
    .recent-post-container{
        display: flex;
        padding-top: 10px;
        width: 100%;
        margin-bottom: 10px;
        justify-content: none;
        gap: 15px;
        /* margin-bottom: 20px; */
    }
    .recent-post-grid-content{
        
        width: 70%;
    }
    .recent-post-grid-img{
        width: 30%;
    }
    .rpg-img{
        width: 100%;
        height:100%;
        border-radius: 10px;
    }
    
    
}
@media screen and (max-width: 500px) {
    .recentpost-main{
        background-color: #FFFDF8;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 40px !important;
    }
    .rp-title{
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;
        padding-top: 20px;
        color: var(--heading-color);
        display: inline-block;
        margin-bottom: 30px;
        font-family: var(--heading-font);
    }
    
    .rp-g-date{
        font-style: normal;
        margin-top: 10px;
        font-size: 17px;
        line-height: 20px;
        color: #000;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-family: Inter;
    }
    .rp-g-heading{
        margin-top: 0px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000;
        font-family: Inter;
    
    }
    .recent-post-container{
        display: block;
        padding-top: 20px;
        width: 100%;
        margin-bottom: 20px;
        justify-content: none;

        gap: 15px;
        /* margin-bottom: 20px; */
    }
    .recent-post-grid-content{
        padding-top: 10px;
        width: 100%;
    }
    .recent-post-grid-img{
        width: 100%;
    }
    .rpg-img{
        width: 100%;
        height:100%;
        border-radius: 10px;
    }
    
}