.projectrange-main{
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    background-color: var(--black-bg);
    max-width: 1420px;
    overflow: hidden;
    justify-self: center 
}
.main-projectRange{
    background-color: var(--black-bg);
}
.projectrange{
    padding: 0px;
}
.projectrange-h{
    display: flex;
    padding-inline-start: 10%;
    padding-inline-end: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: wheat;
}
.projectrange-heading{
    color: #FDFDE1;
    font-family: var(--heading-font);
    font-size: 70px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: -0.7px;
}
.projectrange-container{
    display: flex !important;
    width: 100%;
    overflow: hidden;
    gap: 20px;
    padding-top: 80px;
}
.pr-box1{
    width: 50% !important;
    /* border: 4px solid white; */
    border-radius: 20px ; 
}
.projectrange-image{
    border: 4px solid white;
    border-radius: 20px ;
    /* scale: 0.9; */

    transition: 0.3s ease;

}
.pr-box-content{
    display: flex;
    position: relative;
    top: -160px;
    justify-content: center;
    padding: 24px;
  
}
.projectrange-image:hover{
    transform: scale(1.02);
    transition: all 0.4 ease;

}
.pr-box-title{
    margin-bottom: 10px;
    color: #FDFDE1;
    font-size: 30px;
}
/* .pr-box-content::before{
    content: "";
    left: 0;
    bottom:1px;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.4s;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.42%, #000 100%);
    border-radius: 20px;
   
} */
.pr-box-dec{
    color: #FDFDE1;
    font-size: 18px;
    line-height: 30px;
}
.pr-box2{
    width: 50% !important;
    border: 2px solid white;

}

@media screen and (max-width: 1270px) {
    .projectrange-main{
        max-width: 1420px;
        overflow: hidden;
        justify-self: center 
    }

}
@media screen and (min-width: 850px) and (max-width: 1000px){
    .projectrange-main{
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0px;
        background-color: var(--black-bg);
        max-width: 1420px;
        overflow: hidden;
        justify-self: center 
    }
    .projectrange{
        padding: 0px;
    }
    .projectrange-h{
        display: flex;
        padding-inline-start: 10%;
        padding-inline-end: 10%;
        justify-content: center;
        align-items: center;
        color: wheat;
    }
    .projectrange-heading{
        color: #FDFDE1;
        font-family: var(--heading-font);
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        text-align: center;
        letter-spacing: -0.7px;
    }
    .projectrange-container{
        display: flex !important;
        width: 100%;
        overflow: hidden;
        gap: 20px;
        padding-top: 40px;
    }
 

}
@media screen  and (min-width: 500px) and (max-width: 850px){
    .projectrange-main{
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
        background-color: var(--black-bg);
        max-width: 1420px;
        overflow: hidden;
        justify-self: center 
    }
    .projectrange{
        padding: 0px;
    }
    .projectrange-h{
        display: flex;
        padding-inline-start: 10%;
        padding-inline-end: 10%;
        justify-content: center;
        align-items: center;
        color: wheat;
    }
    .projectrange-heading{
        color: #FDFDE1;
        font-family: var(--heading-font);
        font-size: 48px;
        font-weight: 700;
        line-height: 1.07em;
        text-align: center;
        letter-spacing: -0.7px;
    }
    .projectrange-container{
        display: block !important;
        width: 100%;
        overflow: hidden;
        gap: 20px;
        padding-top: 40px;
    }
    
.pr-box1{
    width: 100% !important;
    /* border: 4px solid white; */
    border-radius: 20px ; 
    margin-bottom: -100px;
}
 
}
@media screen and (max-width: 500px) {
    .projectrange-main{
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 80px;
        background-color: var(--black-bg);
        max-width: 1420px;
        overflow: hidden;
        justify-self: center 
    }
    .projectrange{
        padding: 0px;
    }
    .projectrange-h{
        display: flex;
        padding-inline-start: 0%;
        padding-inline-end: 0%;
        justify-content: center;
        align-items: center;
        color: wheat;
    }
    .projectrange-heading{
        color: #FDFDE1;
        font-family: var(--heading-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07em;
        text-align: center;
        letter-spacing: -0.7px;
    }
    .pr-box-title{
        margin-bottom: 10px;
        color: #FDFDE1;
        font-size: 20px;
    }
    .projectrange-container{
        display: block !important;
        width: 100%;
        overflow: hidden;
        gap: 20px;
        padding-top: 40px;
    }
    
    .pr-box-dec{
        color: #FDFDE1;
        font-size: 17px;
        line-height: 20px;
    }
.pr-box1{
    width: 100% !important;
    /* border: 4px solid white; */
    border-radius: 20px ; 
    margin-bottom: -120px;
}
 
}