.blog-main-card{
    padding-top: 100px;
    padding-bottom: 120px;
    padding-right: 100px;
    padding-left: 100px;
    /* max-width: 1420px;
    overflow: hidden;
    justify-self: center  */
}
.blog-main-cards{
    padding: 100px;
    display: flex;
    /* justify-content: center; */
    gap: 30px;
    width: 100%;}
.blog-card-main{
 width: 83%;
}

.blog-card-g{
    margin-top: 20px;
    width: 63%;
  
}
.blog-card{
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    /* overflow: hidden; */
 
}
.blog-card-image{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}
.blog-card-img{
    height: 500px;
    width: 100%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    object-fit: cover;
}
.blog-card-button a{
    color: black;
}
.blog-card-img:hover{
    transform: scale(1.08);

    border-radius: 20px !important;
   

    /* width: 100%;
    
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.4s ease-in-out; */

}
.blog-sidebar{
    width: 37%;
    margin-top: 20px;
    /* border: 1px solid black; */
    border-radius: 20px;
}
.blog-card-content{
    padding-top: 30px;
}
.blog-card-inner-content{
    display: flex;
    gap: 30px;
    justify-content: left;
   
}

.blog-card-inner-categ{

}
.blog-card-categ-btn{
    background-color: transparent;
    padding: 9px 23px;
    border-radius: 50px;
    display: inline-block;
    color: var(--heading-color) !important;
    border: 1px solid var(--heading-color);
    color: #0C0C0C;
    font-weight: 400;
    font-size: 16px;
    transition: 0.4s;
    letter-spacing: 0.5px;
    font-family: 'Inter';

}
.blog-card-categ-btn:hover{
background-color: var(--accent-color);
border: 1px solid var(--accent-color);
}
.bci-date{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: #0C0C0C;
    font-weight: 400;
    font-size: 16px;
    transition: 0.4s;
    letter-spacing: 0.5px;
    font-family: 'Inter';

}
.blog-card-contents{
    padding-top: 20px;
}
.blog-card-title{
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: var(--heading-color);
    margin-right: 0;
    margin-top: 10px;
    letter-spacing: -.5px;
    font-family: 'Syne';
    cursor: pointer;
}

.blog-card-exert{
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 18px;
    color: var(--text-color);
    font-family: Inter;

}

.blog-card-button{

}
.blog-c-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    color: var(--heading-clor);
    font-family: var(--body-font);
}
.blog-c-btn-icon{
    padding-left: 5px;
    /* font-size: 20px; */
}

@media screen and (max-width: 1270px) {
    .blog-main-card{
        padding-top: 100px;
        padding-bottom: 120px;
        padding-right: 100px;
        padding-left: 100px;
        /* max-width: 1420px;
        overflow: hidden;
        justify-self: center  */
    }
    .blog-main-cards{
        padding: 50px;
        display: flex;
        /* justify-content: center; */
        gap: 30px;
        width: 100%;}
    
    
}
@media screen and (min-width: 800px) and (max-width: 1000px){
    .blog-main-card{
        padding-top: 100px;
        padding-bottom: 120px;
        padding-right: 100px;
        padding-left: 100px;
        /* max-width: 1420px;
        overflow: hidden;
        justify-self: center  */
    }
    .blog-main-cards{
        padding:100px;
        display: block;
        /* justify-content: center; */
        gap: 30px;
        width: 100%;}
    
    .blog-card-g{
        margin-top: 20px;
        width: 100%;
      
    }
    .blog-card{
        margin-top: 30px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        /* overflow: hidden; */
     
    }
    .blog-card-image{
        width: 100%;
        height: 500px;
        border-radius: 20px;
        object-fit: cover;
        overflow: hidden;
    }
    .blog-card-img{
        height: 500px;
        width: 100%;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        object-fit: cover;
    }
    .blog-card-img:hover{
        transform: scale(1.08);
    
        border-radius: 20px !important;
    }
    .blog-sidebar{
        width: 100%;
        margin-top: 20px;
        /* border: 1px solid black; */
        border-radius: 20px;
    }
    .blog-card-content{
        padding-top: 30px;
    }
    .blog-card-inner-content{
        display: flex;
        gap: 30px;
        justify-content: left;
       
    }
   
    .blog-card-categ-btn{
        background-color: transparent;
        padding: 9px 23px;
        border-radius: 50px;
        display: inline-block;
        color: var(--heading-color) !important;
        border: 1px solid var(--heading-color);
        color: #0C0C0C;
        font-weight: 400;
        font-size: 16px;
        transition: 0.4s;
        letter-spacing: 0.5px;
        font-family: 'Inter';
    
    }
    .blog-card-categ-btn:hover{
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    }
    .bci-date{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        color: #0C0C0C;
        font-weight: 400;
        font-size: 16px;
        transition: 0.4s;
        letter-spacing: 0.5px;
        font-family: 'Inter';
    
    }
    .blog-card-contents{
        padding-top: 20px;
    }
    .blog-card-title{
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: var(--heading-color);
        margin-right: 0;
        margin-top: 10px;
        letter-spacing: -.5px;
        font-family: 'Syne';
        cursor: pointer;
    }
    
    .blog-card-exert{
        margin-bottom: 30px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0;
        font-size: 18px;
        color: var(--text-color);
        font-family: Inter;
    
    }
    .blog-c-btn{
        background-color: transparent;
        border: none;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        text-transform: capitalize;
        align-items: center;
        color: var(--heading-clor);
        font-family: var(--body-font);
    }
    .blog-c-btn-icon{
        padding-left: 5px;
        /* font-size: 20px; */
    }
    
 
}
@media screen  and (min-width: 500px) and (max-width: 800px){
    .blog-main-card{
        padding-top: 100px;
        padding-bottom: 120px;
        padding-right: 100px;
        padding-left: 100px;
        /* max-width: 1420px;
        overflow: hidden;
        justify-self: center  */
    }
    .blog-main-cards{
        padding:30px;
        display: block;
        /* justify-content: center; */
        gap: 30px;
        width: 100%;}
    
    .blog-card-g{
        margin-top: 20px;
        width: 100%;
      
    }
    .blog-card{
        margin-bottom: 40px;
        margin-top: 30px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        /* overflow: hidden; */
     
    }
    .blog-card-image{
        width: 100%;
        height: 500px;
        border-radius: 20px;
        object-fit: cover;
        overflow: hidden;
    }
    .blog-card-img{
        height: 500px;
        width: 100%;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        object-fit: cover;
    }
    .blog-card-img:hover{
        transform: scale(1.08);
    
        border-radius: 20px !important;
    }
    .blog-sidebar{
        width: 100%;
        margin-top: 20px;
        /* border: 1px solid black; */
        border-radius: 20px;
    }
    .blog-card-content{
        padding-top: 30px;
    }
    .blog-card-inner-content{
        display: flex;
        gap: 30px;
       
    }
   
    .blog-card-categ-btn{
        background-color: transparent;
        padding: 9px 23px;
        border-radius: 50px;
        display: inline-block;
        color: var(--heading-color) !important;
        border: 1px solid var(--heading-color);
        color: #0C0C0C;
        font-weight: 400;
        font-size: 16px;
        transition: 0.4s;
        letter-spacing: 0.5px;
        font-family: 'Inter';
    
    }
    .blog-card-categ-btn:hover{
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    }
    .bci-date{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        color: #0C0C0C;
        font-weight: 400;
        font-size: 15px;
        transition: 0.4s;
        letter-spacing: 0.5px;
        font-family: 'Inter';
    
    }
    .blog-card-contents{
        padding-top: 20px;
    }
    .blog-card-title{
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        color: var(--heading-color);
        margin-right: 0;
        margin-top: 10px;
        letter-spacing: -.5px;
        font-family: 'Syne';
        cursor: pointer;
    }
    
    .blog-card-exert{
        margin-bottom: 30px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0;
        font-size: 18px;
        color: var(--text-color);
        font-family: Inter;
    
    }
    .blog-c-btn{
        background-color: transparent;
        border: none;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        text-transform: capitalize;
        align-items: center;
        color: var(--heading-clor);
        font-family: var(--body-font);
    }
    .blog-c-btn-icon{
        padding-left: 5px;
        /* font-size: 20px; */
    }
    
 
}
@media screen and (max-width: 500px) {
    .blog-main-card{
        padding-top: 100px;
        padding-bottom: 120px;
        padding-right: 100px;
        padding-left: 100px;
        /* max-width: 1420px;
        overflow: hidden;
        justify-self: center  */
    }
    .blog-main-cards{
        padding:20px;
        display: block;
        /* justify-content: center; */
        gap: 30px;
        width: 100%;}
    
    .blog-card-g{
        margin-top: 20px;
        width: 100%;
      
    }
    .blog-card{
        margin-top: 30px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        /* overflow: hidden; */
     
    }
    .blog-card-image{
        width: 100%;
        height: 500px;
        border-radius: 20px;
        object-fit: cover;
        overflow: hidden;
    }
    .blog-card-img{
        height: 500px;
        width: 100%;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        object-fit: cover;
    }
    .blog-card-img:hover{
        transform: scale(1.08);
    
        border-radius: 20px !important;
    }
    .blog-sidebar{
        width: 100%;
        margin-top: 20px;
        /* border: 1px solid black; */
        border-radius: 20px;
    }
    .blog-card-content{
        padding-top: 0px;
    }
    .blog-card-inner-content{
        padding-bottom: 10px;
        display: flex;
                gap: 30px;
        justify-content: space-between;
       
    }
   
    .blog-card-categ-btn{
        background-color: transparent;
        padding: 5px 15px;
        border-radius: 50px;
        display: inline-block;
        margin-top: 20px;
        color: var(--heading-color) !important;
        border: 1px solid var(--heading-color);
        color: #0C0C0C;
        font-weight: 400;
        font-size: 14px;
        transition: 0.4s;
        letter-spacing: 0.5px;
        font-family: 'Inter';
    
    }
    .blog-card-categ-btn:hover{
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    }
    .bci-date{
        padding-top: 25px;
        display: flex;
        padding-left: 10px;
        justify-content: left;
        align-items: left;
        color: #0C0C0C;
        font-weight: 400;
        font-size: 15px;
        transition: 0.4s;
        letter-spacing: 0.5px;
        font-family: 'Inter';
    
    }
    .blog-card-contents{
        padding-top: 5px;
    }
    .blog-card-title{
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: var(--heading-color);
        margin-right: 0;
        margin-top: 10px;
        letter-spacing: -.5px;
        font-family: 'Syne';
        cursor: pointer;
    }
    
    .blog-card-exert{
        margin-bottom: 30px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0;
        font-size: 18px;
        color: var(--text-color);
        font-family: Inter;
    
    }
   
    .blog-c-btn{
        background-color: transparent;
        border: none;
        font-weight: 700;
        font-size: 16px;
        color:white !important;
        display: flex;
        text-transform: capitalize;
        align-items: center;
        color: var(--heading-clor);
        font-family: var(--body-font);
    }
    .blog-c-btn-icon{
        padding-left: 5px;
        /* font-size: 20px; */
    }
    
}